link(rel="stylesheet", href="../css/general.css")
link(rel="stylesheet", href="../css/aboutMe.css")

head
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title Sam Pyle - About Me
    link(rel="icon", type="image/png", href="../images/logo.png")#page-logo

body
    <canvas id="floatingDots"></canvas>
    #loading-icon1.loading-icon
        span |
    #loading-icon2.loading-icon
        span |
    #body-main
        #nav-bar 
            h3.nav-bar-left#nbl-home Home 
            h3.nav-bar-right#nbr-about-me About Me 
            h3.nav-bar-right#nbr-projects Projects
            h3.nav-bar-right#nbr-contact Contact
        
        #about-me
            section#top-section
                #ts-grid
                    #tsg-left-section
                        h2.hidden ABOUT
                        h2#me-text1010.hidden ME
                    img(src="../images/sam.jpg")#me-pic.hidden
            #intro.large-section 
                p.hidden I found my interest in programming in a
                    span.hidden  Scratch
                    span.hidden  club at the age of 9.
                p.hidden Now, I can develop using this stack: 
                #programming-languages
                    .stack-type-container 
                        .stack-type FRONTEND 
                        .note-container 
                            .note Experience in giving websites and software clean, easy-to-understand UI using React, CSS, HTML, and Pug.
                    .stack-languages-container 
                        .language.hidden
                            .language-container
                                img(src="../images/react.png" alt="react").language-icon
                            .icon-container.pro-style
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden 
                            .language-container
                                img(src="../images/css.png" alt="css").language-icon
                            .icon-container.pro-style
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden
                            .language-container
                                img(src="../images/html.png" alt="html").language-icon
                            .icon-container.pro-style 
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden
                            .language-container
                                img(src="../images/pug.png" alt="pug").language-icon
                            .icon-container
                        
                        .language.hidden 
                            .language-container 
                                img(src="../images/react-native.png" alt="react native").language-icon
                            .icon-container.new-style 
                                img(src="../images/new.png" alt="new icon").new-icon



                    .stack-type-container 
                        .stack-type BACKEND
                        .note-container 
                            .note Extensive experience in development of backend systems using JavaScript, Node.js and Express.js. 
                            br
                            .note Consistent Python use for various machine learning and Artificial Intelligence projects using modules such as Tensorflow, NLTK, Pandas, maplotlib and Scikit-learn.
                            br
                            .note Great experience with Java, with foundational knowledge in C, C++, and TypeScript.
                    .stack-languages-container
                        .language.hidden
                            .language-container
                                img(src="../images/python.png" alt="python").language-icon
                            .icon-container.pro-style
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden
                            .language-container
                                img(src="../images/java.png" alt="java").language-icon
                            .icon-container.pro-style
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden
                            .language-container
                                img(src="../images/javascript.png" alt="javascript").language-icon
                            .icon-container.pro-style 
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden 
                            .language-container 
                                img(src="../images/nltk.png" alt="nltk").language-icon
                            .icon-container.pro-style
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden 
                            .language-container
                                img(src="../images/nodejs.png" alt="nodejs").language-icon
                            .icon-container 
                        
                        .language.hidden 
                            .language-container 
                                img(src="../images/pandas.png" alt="pandas").language-icon
                            .icon-container
                        
                        .language.hidden 
                            .language-container 
                                img(src="../images/matplotlib.png" alt="matplotlib").language-icon
                            .icon-container

                        .language.hidden
                            .language-container 
                                img(src="../images/scikit-learn.png" alt="scikit-learn").language-icon
                            .icon-container
                        
                        .language.hidden 
                            .language-container 
                                img(src="../images/tensorflow.png" alt="tensorflow").language-icon
                            .icon-container

                        .language.hidden 
                            .language-container 
                                img(src="../images/expressjs.png" alt="express").language-icon
                            .icon-container.new-style 
                                img(src="../images/new.png" alt="new icon").new-icon

                        .language.hidden
                            .language-container
                                img(src="../images/cpp.png" alt="cpp").language-icon
                            .icon-container.new-style
                                img(src="../images/new.png" alt="new icon").new-icon

                        .language.hidden
                            .language-container
                                img(src="../images/c.png" alt="c").language-icon
                            .icon-container.new-style
                                img(src="../images/new.png" alt="new icon").new-icon

                        .language.hidden
                            .language-container
                                img(src="../images/typescript.png" alt="typescript").language-icon
                            .icon-container.new-style
                                img(src="../images/new.png" alt="new icon").new-icon
                    

                    .stack-type-container 
                        .stack-type DATABASE
                        .note-container 
                            .note Experience in interacting with relational databases using PostgreSQL.
                    .stack-languages-container
                        .language.hidden
                            .language-container
                                img(src="../images/sql.png" alt="html").language-icon
                            .icon-container

                    .stack-type-container 
                        .stack-type TOOLS 
                        .note-container 
                            .note Regular use of Git and GitHub for version control and collaboration. I have also begun a LinkedIn course on AWS which I will continue after completing my final year of university.
                    .stack-languages-container
                        .language.hidden 
                            .language-container
                                img(src="../images/git.png" alt="git").language-icon
                            .icon-container.pro-style 
                                img(src="../images/pro.png" alt="pro icon").pro-icon

                        .language.hidden
                            .language-container
                                img(src="../images/aws.png" alt="aws").language-icon
                            .icon-container.new-style
                                img(src="../images/new.png" alt="new icon").new-icon
                    
            h2.subheading.hidden PROJECTS  
            #projects.regular-section
                .project.hidden#plm-1
                    .project-logo-container 
                        img(src="../images/github.png" alt="github").hidden#github-logo
                    .project-t-ib-container#top-style
                        .project-text-container 
                            .project-text#my-github MY GITHUB
                        .project-i-b-container
                            .project-learn-more-button
                                .project-learn-more-text Visit Now
                                img(src="../images/down-arrow.png", height="27px", width="27px")
                            .project-icon-container
                .project.hidden.top-project#plm-2 
                    .project-logo-container 
                        img(src="../images/fake-news.png" alt="uea").hidden
                    .project-t-ib-container#top-style
                        .project-text-container 
                            .project-text  Machine Learning Fake News Detector
                        .project-i-b-container
                            .project-learn-more-button
                                .project-learn-more-text Learn More  
                                img(src="../images/down-arrow.png", height="27px", width="27px")
                            .project-icon-container
                                img(src="../images/top.png")
                                img(src="../images/wip.png")
                .project.hidden.top-project#plm-3
                    .project-logo-container 
                        img(src="../images/search-query.png" alt="uea").hidden
                    .project-t-ib-container#top-style
                        .project-text-container 
                            .project-text  Advanced Movie Search Query System
                        .project-i-b-container
                            .project-learn-more-button 
                                .project-learn-more-text Learn More 
                                img(src="../images/down-arrow.png", height="27px", width="27px")
                            .project-icon-container
                                img(src="../images/top.png")
                .project.hidden.top-project#plm-4 
                    .project-logo-container 
                        img(src="../images/ueauction.png" alt="uea").hidden
                    .project-t-ib-container#top-style
                        .project-text-container 
                            .project-text  React Auction Site
                        .project-i-b-container
                            .project-learn-more-button
                                .project-learn-more-text Learn More 
                                img(src="../images/down-arrow.png", height="27px", width="27px")
                            .project-icon-container
                                img(src="../images/top.png")
                .project.hidden.top-project#plm-5 
                    .project-logo-container 
                        img(src="../images/car-park.png" alt="uea").hidden
                    .project-t-ib-container#top-style
                        .project-text-container 
                            .project-text  Team Leader for Car Parking System
                        .project-i-b-container
                            .project-learn-more-button
                                .project-learn-more-text Learn More 
                                img(src="../images/down-arrow.png", height="27px", width="27px")   
                            .project-icon-container
                                img(src="../images/top.png")
                .project.hidden#plm-6 
                    .project-logo-container 
                        img(src="../images/labour.png" alt="uea").hidden
                    .project-t-ib-container#top-style
                        .project-text-container 
                            .project-text  UEA Labour Society Website
                        .project-i-b-container
                            .project-learn-more-button
                                .project-learn-more-text Learn More 
                                img(src="../images/down-arrow.png", height="27px", width="27px")
                            .project-icon-container
                                img(src="../images/wip.png")
                .project.hidden#plm-7 
                    .project-logo-container 
                        img(src="../images/cambodia-care.png" alt="uea").hidden
                    .project-t-ib-container#top-style
                        .project-text-container 
                            .project-text  Cambodia Care Website
                        .project-i-b-container
                            .project-learn-more-button
                                .project-learn-more-text Learn More 
                                img(src="../images/down-arrow.png", height="27px", width="27px")
                            .project-icon-container



        #empty-space
            meta(charset="utf-8")

        #bottom-gradient

script(src="../controllers/aboutMeController.js")
script(src="../controllers/general.js")

