link(rel="stylesheet", href="../css/general.css")
link(rel="stylesheet", href="../css/aboutMe.css")

body
    #nav-bar 
        h3.nav-bar-left#nbl-home Home 
        h3.nav-bar-right#nbr-about-me About Me 
        h3.nav-bar-right#nbr-projects Projects
        h3.nav-bar-right#nbr-contact Contact
    
    #about-me
        section#top-section
            #ts-grid
                #tsg-left-section
                    h2.hidden ABOUT ME 
                img(src="../images/sam.jpg")#me-pic.hidden
        #intro.large-section 
            p.hidden Born in Basildon, I found my interest in programming in a
                span#text-scratch.hidden  Scratch
                span.hidden  club at the age of 9.
            p.hidden I continued to make games on Scratch on a regular basis until I was introduced to Python at the age of 12.
            p.hidden Between moving secondary schools in year 8 and now, I have gained experience in: 
            #programming-languages.hidden
                img(src="../images/python.png").hidden
                img(src="../images/java.png").hidden
                img(src="../images/javascript.png").hidden
                img(src="../images/html.png").hidden
                img(src="../images/cpp.png").hidden
                img(src="../images/c.png").hidden
                img(src="../images/sql.png").hidden
        #projects.regular-section
            h2.hidden Projects
            p.hidden In a university solo-project assignment, I developed an information retrieval system using appropriate Python libraries to find the most accurate webpages in a given folder containing html files of game reviews from a specific website. To do this, I experimented with variations of tf-idf measurement and normalization. As well as providing a simple README on how to use the system, I analysed which variation produced the most relevant results, and presented the results of each variation through the use of charts and graphs in a presentation and an ACM SIG style document. The system achieved a great mark.
            p.hidden I was the team leader of a team in which we developed a parking management software. While delegating tasks to ensure that our team is on track to achieve our objectives, I have contributed to the programming of the software (using JavaScript) and its documentation. This includes modelling the system, analysing similar systems, writing use/test cases, reporting on development progress, and documenting the requirement.
            p.hidden I am currently working on my third year project to detect fake news using machine learning in social media datasets - a topic that resonated strongly with me following the riots during the summer of 2024.
        #skills.regular-section
            h2.hidden Skills
            p.hidden Team leader of a group of 5 in a software engineering project in which JavaScript was used alongside taught software engineering methodologies to develop a Car Parking Management System alongside relevant documentation of its requirements and design, whereby our team used an agile development environment and an Express framework, while collaborating on GitHub.
            p.hidden Developed a Python information retrieval system, experimenting with variations of tf-idf measurements and normalisation. Results of these experiments were presented through the use of charts and graphs in a presentation and an ACM SIG style document.
            p.hidden Two years of advancing skills in Java, with a strong foundation in OOP, effectively using enumerations, lamdas and efficiently using advanced data structures.
            p.hidden Gained web-development experience using Fetch API, Node.js and Express.js while designing and developing a website using HTML with JavaScript for a real-world application of providing information about the negative impact of climate change.

        #previous-jobs.regular-section
            h2.hidden Previous Jobs
            p.hidden - Disability Inclusion Society (2021) - Voluntary 
            p.hidden - Mr Mulligan's Norwich (Feb 2023 - May 2023)
            p.hidden - Primark Norwich (Nov 2023 - May 2024)

        #get-to-know-me.regular-section 
            h2.hidden Get to know me! 
            p.hidden As well as being a member of my school's student parliament in year 7, I was a prefect in year 11. I won a second place and two third places in the U15s British Aikido Association Championships.
            p.hidden Throughout my time at UEA I have been elected as the executive of political societies, as well as first year representative, social secretary, treasurer and president of the Labour Society. I have dealt with the finances of the society, arranged and organised events, making everybody feel included and ensuring health and safety measures are met whilst encouraging new people to join, and designed most of the society's social media posts and flyers. Since June 2024, I have been the President of the society.
            p.hidden In the Autumn of 2023, I was elected to be one of UEA Students' Union's National Union of Students Representatives, and was elected to be a Non-Portfolio Officer in the Students' Union in March 2024.



#empty-space
    meta(charset="utf-8")

script(src="../controllers/aboutMeController.js")
script(src="../controllers/general.js")
link(rel="stylesheet" href="path/to/aos.css")

