doctype html
html(lang="en")
    head
        title Political Compass 
        link(rel="stylesheet", href="../css/general.css")
        link(rel="stylesheet", href="../css/compass.css")
    body 
        .compass 
            .dot
        .questions
            .question 
                h4 I believe that there should be some form of taxation on the people of a state.
                .answers 
                    button.answer#q1yes Yes
                    button.answer#q1no No
                .strengthScale 
                    button.strength#q1-1 Least Important
                    button.strength#q1-2 Less Important
                    button.strength#q1-3 Moderate
                    button.strength#q1-4 More Important
                    button.strength#q1-5 Most Important 

            .question 
                h4 I believe that the government should provide some form of welfare to its citizens.
                .answers 
                    button.answer#q2yes Yes
                    button.answer#q2no No
                .strengthScale 
                    button.strength#q2-1 Least Important
                    button.strength#q2-2 Less Important
                    button.strength#q2-3 Moderate
                    button.strength#q2-4 More Important
                    button.strength#q2-5 Most Important
            
            .question
                h4 I believe that people should be taxed progressively more as they earn more.
                .answers 
                    button.answer#q3yes Yes
                    button.answer#q3no No
                .strengthScale 
                    button.strength#q3-1 Least Important
                    button.strength#q3-2 Less Important
                    button.strength#q3-3 Moderate
                    button.strength#q3-4 More Important
                    button.strength#q3-5 Most Important

            .question
                h4 I believe that the government should provide some form of healthcare to its citizens.
                .answers 
                    button.answer#q4yes Yes
                    button.answer#q4no No
                .strengthScale 
                    button.strength#q4-1 Least Important
                    button.strength#q4-2 Less Important
                    button.strength#q4-3 Moderate
                    button.strength#q4-4 More Important
                    button.strength#q4-5 Most Important

            .question
                h4 I believe that the government should provide some form of education to its citizens.
                .answers 
                    button.answer#q5yes Yes
                    button.answer#q5no No
                .strengthScale 
                    button.strength#q5-1 Least Important
                    button.strength#q5-2 Less Important
                    button.strength#q5-3 Moderate
                    button.strength#q5-4 More Important
                    button.strength#q5-5 Most Important
            
            .question 
                h4 I believe that the government should provide some form of housing to its citizens.
                .answers 
                    button.answer#q6yes Yes
                    button.answer#q6no No
                .strengthScale 
                    button.strength#q6-1 Least Important
                    button.strength#q6-2 Less Important
                    button.strength#q6-3 Moderate
                    button.strength#q6-4 More Important
                    button.strength#q6-5 Most Important
            
            .question
                h4 I believe that the government should provide some form of food to its citizens.
                .answers 
                    button.answer#q7yes Yes
                    button.answer#q7no No
                .strengthScale 
                    button.strength#q7-1 Least Important
                    button.strength#q7-2 Less Important
                    button.strength#q7-3 Moderate
                    button.strength#q7-4 More Important
                    button.strength#q7-5 Most Important
            
            .question
                h4 I believe that the government should provide some form of internet to its citizens.
                .answers 
                    button.answer#q9yes Yes
                    button.answer#q9no No
                .strengthScale 
                    button.strength#q9-1 Least Important
                    button.strength#q9-2 Less Important
                    button.strength#q9-3 Moderate
                    button.strength#q9-4 More Important
                    button.strength#q9-5 Most Important

            .question
                h4 I believe that the government should own and operate electricity supply.
                .answers 
                    button.answer#q10yes Yes
                    button.answer#q10no No
                .strengthScale 
                    button.strength#q10-1 Least Important
                    button.strength#q10-2 Less Important
                    button.strength#q10-3 Moderate
                    button.strength#q10-4 More Important
                    button.strength#q10-5 Most Important

            .question 
                h4 I believe that the government should own and operate water supply.
                .answers 
                    button.answer#q11yes Yes
                    button.answer#q11no No
                .strengthScale 
                    button.strength#q11-1 Least Important
                    button.strength#q11-2 Less Important
                    button.strength#q11-3 Moderate
                    button.strength#q11-4 More Important
                    button.strength#q11-5 Most Important
            
            .question
                h4 I believe that the government should own and operate buses.
                .answers 
                    button.answer#q12yes Yes
                    button.answer#q12no No
                .strengthScale 
                    button.strength#q12-1 Least Important
                    button.strength#q12-2 Less Important
                    button.strength#q12-3 Moderate
                    button.strength#q12-4 More Important
                    button.strength#q12-5 Most Important

            .question 
                h4 I believe that the government should own and operate trains.
                .answers 
                    button.answer#q13yes Yes
                    button.answer#q13no No
                .strengthScale 
                    button.strength#q13-1 Least Important
                    button.strength#q13-2 Less Important
                    button.strength#q13-3 Moderate
                    button.strength#q13-4 More Important
                    button.strength#q13-5 Most Important

            .question 
                h4 I believe that the government should own and operate an airline.
                .answers 
                    button.answer#q14yes Yes
                    button.answer#q14no No
                .strengthScale 
                    button.strength#q14-1 Least Important
                    button.strength#q14-2 Less Important
                    button.strength#q14-3 Moderate
                    button.strength#q14-4 More Important
                    button.strength#q14-5 Most Important

            .question
                h4 I believe that the government should own and operate a postal service.
                .answers 
                    button.answer#q15yes Yes
                    button.answer#q15no No
                .strengthScale 
                    button.strength#q15-1 Least Important
                    button.strength#q15-2 Less Important
                    button.strength#q15-3 Moderate
                    button.strength#q15-4 More Important
                    button.strength#q15-5 Most Important

            .question
                h4 I believe that the government should ensure that all its citizens are in housing.
                .answers 
                    button.answer#q16yes Yes
                    button.answer#q16no No
                .strengthScale
                    button.strength#q16-1 Least Important
                    button.strength#q16-2 Less Important
                    button.strength#q16-3 Moderate
                    button.strength#q16-4 More Important
                    button.strength#q16-5 Most Important

            .question
                h4 I believe that the government should ensure that all its citizens are provided with enough money to afford necessities.
                .answers 
                    button.answer#q17yes Yes
                    button.answer#q17no No
                .strengthScale
                    button.strength#q17-1 Least Important
                    button.strength#q17-2 Less Important
                    button.strength#q17-3 Moderate
                    button.strength#q17-4 More Important
                    button.strength#q17-5 Most Important

            .question
                h4 I believe that the government should ensure that all its citizens are provided with enough money to entertain themselves.
                .answers 
                    button.answer#q18yes Yes
                    button.answer#q18no No
                .strengthScale
                    button.strength#q18-1 Least Important
                    button.strength#q18-2 Less Important
                    button.strength#q18-3 Moderate
                    button.strength#q18-4 More Important
                    button.strength#q18-5 Most Important

            .question 
                h4 I believe that the government must acceept that a minority of people will be billionaires at the expense of others for the time being.
                .answers 
                    button.answer#q19yes Yes
                    button.answer#q19no No
                .strengthScale
                    button.strength#q19-1 Least Important
                    button.strength#q19-2 Less Important
                    button.strength#q19-3 Moderate
                    button.strength#q19-4 More Important
                    button.strength#q19-5 Most Important
            
            .question 
                h4 I believe that the government must acceept that a minority of people will be billionaires at the expense of others for the rest of time.
                .answers 
                    button.answer#q20yes Yes
                    button.answer#q20no No
                .strengthScale
                    button.strength#q20-1 Least Important
                    button.strength#q20-2 Less Important
                    button.strength#q20-3 Moderate
                    button.strength#q20-4 More Important
                    button.strength#q20-5 Most Important

            .question 
                h4 I believe that the government should provide some form of pension to its citizens.
                .answers 
                    button.answer#q21yes Yes
                    button.answer#q21no No
                .strengthScale
                    button.strength#q21-1 Least Important
                    button.strength#q21-2 Less Important
                    button.strength#q21-3 Moderate
                    button.strength#q21-4 More Important
                    button.strength#q21-5 Most Important

            .question
                h4 I believe that the government should provide some form of unemployment benefits to its people.
                .answers 
                    button.answer#q22yes Yes
                    button.answer#q22no No
                .strengthScale
                    button.strength#q22-1 Least Important
                    button.strength#q22-2 Less Important
                    button.strength#q22-3 Moderate
                    button.strength#q22-4 More Important
                    button.strength#q22-5 Most Important

            .question
                h4 I believe that the government should provide some form of disability benefits to its people.
                .answers 
                    button.answer#q23yes Yes
                    button.answer#q23no No
                .strengthScale
                    button.strength#q23-1 Least Important
                    button.strength#q23-2 Less Important
                    button.strength#q23-3 Moderate
                    button.strength#q23-4 More Important
                    button.strength#q23-5 Most Important

            .question
                h4 I believe that the government should provide some form of child benefits to its people.
                .answers 
                    button.answer#q24yes Yes
                    button.answer#q24no No
                .strengthScale
                    button.strength#q24-1 Least Important
                    button.strength#q24-2 Less Important
                    button.strength#q24-3 Moderate
                    button.strength#q24-4 More Important
                    button.strength#q24-5 Most Important

            .question 
                h4 I believe that the government should provide sex education.
                .answers 
                    button.answer#q25yes Yes
                    button.answer#q25no No
                .strengthScale
                    button.strength#q25-1 Least Important
                    button.strength#q25-2 Less Important
                    button.strength#q25-3 Moderate
                    button.strength#q25-4 More Important
                    button.strength#q25-5 Most Important

            .question
                h4 I believe that the government should provide some form of free contraception to its people.
                .answers 
                    button.answer#q26yes Yes
                    button.answer#q26no No
                .strengthScale
                    button.strength#q26-1 Least Important
                    button.strength#q26-2 Less Important
                    button.strength#q26-3 Moderate
                    button.strength#q26-4 More Important
                    button.strength#q26-5 Most Important

            .question
                h4 I believe that the government should provide some form of free abortions to its people.
                .answers 
                    button.answer#q27yes Yes
                    button.answer#q27no No
                .strengthScale
                    button.strength#q27-1 Least Important
                    button.strength#q27-2 Less Important
                    button.strength#q27-3 Moderate
                    button.strength#q27-4 More Important
                    button.strength#q27-5 Most Important

            .question
                h4 I believe that the government should tackle the 'pink tax'.
                .answers 
                    button.answer#q28yes Yes
                    button.answer#q28no No
                .strengthScale
                    button.strength#q28-1 Least Important
                    button.strength#q28-2 Less Important
                    button.strength#q28-3 Moderate
                    button.strength#q28-4 More Important
                    button.strength#q28-5 Most Important

            .question
                h4 I believe that the government should provide some form of free sanitary products to its people.
                .answers 
                    button.answer#q29yes Yes
                    button.answer#q29no No
                .strengthScale
                    button.strength#q29-1 Least Important
                    button.strength#q29-2 Less Important
                    button.strength#q29-3 Moderate
                    button.strength#q29-4 More Important
                    button.strength#q29-5 Most Important

            .question 
                h4 I believe that the government should allow its people to own guns.
                .answers 
                    button.answer#q30yes Yes
                    button.answer#q30no No
                .strengthScale
                    button.strength#q30-1 Least Important
                    button.strength#q30-2 Less Important
                    button.strength#q30-3 Moderate
                    button.strength#q30-4 More Important
                    button.strength#q30-5 Most Important

            .question
                h4 I believe that the government should decriminalise marijuana.
                .answers 
                    button.answer#q31yes Yes
                    button.answer#q31no No
                .strengthScale
                    button.strength#q31-1 Least Important
                    button.strength#q31-2 Less Important
                    button.strength#q31-3 Moderate
                    button.strength#q31-4 More Important
                    button.strength#q31-5 Most Important

            .question
                h4 I believe that the government should legalise marijuana.
                .answers 
                    button.answer#q32yes Yes
                    button.answer#q32no No
                .strengthScale
                    button.strength#q32-1 Least Important
                    button.strength#q32-2 Less Important
                    button.strength#q32-3 Moderate
                    button.strength#q32-4 More Important
                    button.strength#q32-5 Most Important


script(src="../controllers/compassController.js")
script(src="../controllers/general.js")