<meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
link(rel="stylesheet", href="../css/general.css")
link(rel="stylesheet", href="../css/index.css")

#loading-icon1.loading-icon
    span |
#loading-icon2.loading-icon
    span |
body
    <canvas id="floatingDots"></canvas>
    #nav
        h1 SAM PYLE
        hr#headerline 
        h2 UEA COMPUTER SCIENCE STUDENT
        p Experience in software & web development, machine learning, artificial intelligence, and the impact they all have on society.
        p Currently working on a project to detect fake news using a BERT machine learning model alongside traditional kNN classifiers.
        #nav-options.block
            #nav-options-grid
                h3#nav-option-1 About Me 
                h3#nav-option-2 Projects
                h3#nav-option-3 Contact
    #empty-space

#boid-cursor-note.show
    p Play with the boids using your mouse!
#boid-sketch
    script(src="../controllers/cloudflare/p5.min.js")
    script(src="../controllers/cloudflare/p5.dom.min.js")
    script(src="../controllers/cloudflare/p5.sound.min.js")
    meta(charset="utf-8")

script(src="../controllers/indexController.js")
script(src="../controllers/general.js")

