link(rel="stylesheet", href="../css/general.css")
link(rel="stylesheet", href="../css/index.css")

body
    #nav
        h1 SAM PYLE
        hr#headerline 
        h2 UEA COMPUTER SCIENCE STUDENT
        p I am a third year Computer Science student at the University of East Anglia. I am interested in software & web development, machine learning, artificial intelligence, and the impact they all have on society. I am currently working on a project to detect fake news using machine learning.
        #nav-options.block
            #nav-options-flex
                h3#nav-option-1 About Me 
                h3#nav-option-2 Projects
                h3#nav-option-3 Contact
    #empty-space

head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.min.js")
    script(src="../controllers/boid.js")
    script(src="../controllers/sketch.js")
    meta(charset="utf-8")

script(src="../controllers/indexController.js")
script(src="../controllers/general.js")

