html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    background-color: rgb(51, 54, 71);
}


html {
    scroll-behavior:calc(var(--scroll-behavior, smooth));
}

#floatingDots {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
}

.loading-icon {
    will-change: width, height;
    margin: 0 auto;
    background-color: white;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    opacity: 60%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-icon span {
    opacity: 0%;
}

@keyframes loading1 {
    0%, 100% {
      transform: translate(-50%, -50%) scale(0.48);
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
}
  
@keyframes loading2 {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.48);
    }
}

#body-main {
    display: none;
    z-index: 1;
}


#nav-bar {
    position: relative;
    display: block;
    width: 89%;
    color: rgb(255, 255, 255);
    height: 80px;
    z-index: 2;
    border-radius: 40px;
    margin: 20px auto 0 auto;
    background: linear-gradient(to bottom, rgba(108, 122, 152, 0.7), rgba(108, 122, 152, 0)), linear-gradient(to right, rgba(108, 122, 152, 0.7), rgba(108, 122, 152, 0.01));
}

#nav-bar h3{
    display: inline-block;
    text-shadow: 1px 1px 2px rgb(77, 77, 77);
    padding: 2px;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    font-weight: 100;
}

#nav-bar h3:hover {
    color: black;
    background-color: white;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    text-shadow: 0px 0px 0px rgb(77, 77, 77);
    padding: 0 4px;
    margin-left: 6px;
    border-radius: 6px;
    transform: translateY(2px);
}

.nav-bar-left {
    float: left;
}

#nbl-home {
    margin-left: 20px !important;
}

.nav-bar-right {
    float: right;
}

#about-me {
    display: block;;
    margin: 0 auto;
    width: 98%;
    color: white;
}

#about-me #top-section {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#intro {
    width: 95%;
    justify-self: center;
    margin: 0 auto;
}

#intro p {
    width: 86%;
    justify-self: center;
    margin: 0 auto;
    display: block;
}

#ts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 87%;
}

#tsg-left-section {
    width: 98%;
    margin: 57px auto 0px auto;
}

#tsg-left-section h2 {
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
    font-size: 100px;
    user-select: none;
    margin-bottom: -10px;
    margin-top: 0px;
    width:fit-content;
    text-shadow: 0px 0px 0px rgb(77, 77, 77);
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
    font-weight: 900;
    color: rgb(248, 124, 88);
}


#tsg-left-section h2:hover {

    text-shadow: 10px 4px 4px rgb(0, 0, 0);
    transform: scale(1.12);
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#me-pic {
    height: 340px;
    width: auto;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 18px;
    transition: margin-bottom 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 0px solid rgb(51, 54, 71);
}

#me-pic:hover {
    border: 9px solid white;
    border-radius: 9px;
    transition: border 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
    margin-bottom: 0px;
}

.regular-section {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
}

.large-section {
    font-size: 40px;
    font-family: "roboto", "Roboto Placeholder", sans-serif;
    font-weight: 700;
}

#get-to-know-me {
    padding-bottom: 55px;
}



#programming-languages {
    display: grid;
    grid-template-columns: 38% 62%;
}

.stack-type-container {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


.note-container {
    position: relative;
    width: 300px;
    height: fit-content;
    padding: 12px;
    background: rgba(255, 255, 255, 0.08); /* instead of using opacity */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    font-size: 1.4rem;
    font-weight: 100;
    font-family: 'Pacifico', 'Helvetica', cursive;
}

.note {
    opacity: 100%;
    color: rgb(255, 255, 255);
    font-stretch:extra-expanded;
}

.stack-type {
    margin-top: 50px;
    font-size: 45px;
    font-weight: 1000;
    font-family: "Secondary", "Poppins", sans-serif;
    color: rgb(248, 124, 88);
}

.stack-languages-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    position: relative;
    user-select: none;
    width: 84%;
    height: fit-content;
}


.language {
    display: inline-block;
    align-items: center;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
}

.language:hover {
    size-adjust: 1;
    transform: scale(1.03);
    transition: all 0.32s ease-in-out;
}

.language-container {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-icon{
    width: 90%;
    height: auto;
    max-height: 72%;
    object-fit: contain;
    user-select: none;
}

.icon-container {
    height: 60px;
    display: block;
    position: relative; /* needed for absolute positioning inside */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #8f8f8f 0%, #969696 8%, #929292 30%, #969696 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #a9a8a8 0%, #9e9e9e 8%, #ababab 25%, #898989 62.5%, #949494 100%);
}

.pro-style {
    background: radial-gradient(ellipse farthest-corner at right bottom, #fff7d1 0%, #debf39 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FEDB37 0%, #dec99e 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) !important;
    border-bottom-right-radius: 0px !important;
}

.pro-icon {
    height: 30px;
    width: auto;
    position: absolute;
    bottom: 2;
    right: 2;
}

.new-style {
    background: radial-gradient(ellipse farthest-corner at right bottom, #bb722a 0%, #df8b37 8%, #ad6f31 30%, #d8832d 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #e3984e 0%, #b3773b 8%, #b06f2f 25%, #bd762f 62.5%, #cb7927 100%) !important;
    border-bottom-right-radius: 0px !important;
}

.new-icon {
    height: 30px;
    width: auto;
    position: absolute;
    bottom: 2;
    right: 2;
}

.subheading {
    font-family: var(--font-anton);
    font-size: 2.8rem;
    font-weight: 800;
    width: 91%;
    justify-self: center;
    margin: 0 auto;
    margin-top: 88px;
    color: rgb(248, 124, 88);
}





#projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px 20px 100px 20px;
    position: relative;
    user-select: none;
    width: 89%;
    margin: 0 auto;
}

.project {
    display: inline-block;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: black 3px solid;
    cursor: pointer;
}

.project:hover{
    transform: scale(1.03);
    transition: all 0.32s ease-in-out;
}

.top-project {
    box-shadow: #ffae00 0px 0px 14px 0px;
}

#my-github {
    font-size: 1.9rem;
    font-weight: 900;;
}

.project-logo-container {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255, 255, 255);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-logo-container img {
    width: 90%;
    height: auto;
    max-height: 60%;
    object-fit: contain;
    user-select: none;
}

.project-t-ib-container {
    height: 170px;
    background-color: rgb(255, 255, 255);
}

.project-text-container {
    font-family: "Helvetica", "Geneva", "Segoe UI", sans-serif;
    line-height: 1.32;
    font-size: 1.2rem;
    font-weight: 400;
    height: 90px;
    text-align: center;
    display: block;
    color: black;
    display: flex;
    justify-content: center;
}

.project-text {
    padding-top: 8px;
    width: 90%;
    font-family: "secondary", "Poppins", sans-serif;
    font-weight: 100;
}

.project-i-b-container {
    height: 80px;
    display: flex;
    justify-content: space-between; /* left and right */
    align-items: flex-end;           
    position: relative;
}

.project-learn-more-button {
    width:fit-content;
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-top-right-radius: 4px;
    align-self: flex-end; /* optional since container aligns bottom */
}


.project-learn-more-text {
    padding: 4px 10px;
    font-family: "poppins", "Calibri Placeholder", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: white;
    display: inline-block;
}

.project-learn-more-button img {
    margin-right: 3px;
    margin-bottom: -8px;
}


.project-icon-container {
    height: 80px;
    width: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}


.project-icon-container img {
    height: 30px;
    width: auto;
    position: relative;
    margin-right: 2px;
}








.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.2s ease-in-out;
}
.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

#bottom-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px; /* adjust height as needed */
    pointer-events: none; /* allow clicks to go through */
    background: linear-gradient(to top, rgba(11, 7, 35, 1), rgba(255, 255, 255, 0));
    transition: opacity 0.1s ease;
    opacity: 1;
    z-index: 9999;
}

#bottom-gradient.hidden {
    opacity: 0;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1100px) {
    #nav-bar {
        width: 95%;
    }
    #nav-bar h3 {
        font-size: 26px;
    }
    #tsg-left-section h2 {
        font-size: 80px;
    }
    #me-pic {
        height: 300px;
    }
    .stack-type {
        font-size: 35px;
    }
    .note-container {
        width: 250px;
        font-size: 1.2rem;
    }
    #projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 900px) {
    #nav-bar {
        width: 95%;
    }

    #tsg-left-section h2 {
        font-size: 60px;
    }

    #me-pic {
        height: 250px;
    }
    .stack-type {
        font-size: 30px;
    }
    #programming-languages {
        grid-template-columns: 40% 60%;
    }
    .note-container {
        width: 200px;
        font-size: 1.2rem;
    }
    .stack-languages-container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
    }
    #projects {
        grid-template-columns: 1fr;
    }
    #nbr-about-me {
        display: none !important;
    }
}

@media (max-width: 600px) {
    #nav-bar {
        width: 95%;
    }
    #nav-bar h3 {
        font-size: 23px;
    }
    #tsg-left-section h2 {
        font-size: 90px;
        text-align: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    #ts-grid {
        grid-template-columns: 1fr;
    }
    #me-pic {
        margin-top: 10px;
        height: 300px;
    }
    #programming-languages {
        grid-template-columns: 1fr;
    }
    .note-container {
        width: 80%;
        font-size: 1.6rem;
        line-height: 1.2;
    }
    .stack-languages-container {
        grid-template-columns: 1fr 1fr;
    }
    .stack-type-container {
        justify-content: center;
    }
    .stack-type {
        font-size: 65px;
        margin-left: auto;
        margin-right: auto;
    }
    .subheading {
        font-size: 65px;
        text-align: center;
    }
}