html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 100%;
    background-color: rgb(51, 54, 71);
}

.loading-icon {
    margin: 0 auto;
    background-color: white;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    opacity: 60%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-icon span {
    opacity: 0%;
}

#floatingDots {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
}

@keyframes loading1 {
    0%, 100% {
      transform: translate(-50%, -50%) scale(0.48);
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
}
  
@keyframes loading2 {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.48);
    }
}

#nav {
    z-index: 2;
    position: absolute;
    width: 422px;
    color: rgb(254, 254, 254);
    height: auto;
    display: none;
}

#block {
    display: block;
}

#nav h1,h2 {
    display: inline-block;
    display: block;
}

#nav h1 {
    float: right;
    margin-right: 16px;
    width: 100%;
    text-align: right;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 67px;
    margin-bottom: 0.17em;
    background-image: linear-gradient(rgb(255, 135, 40), rgb(248, 124, 88));
    color: transparent;
    background-clip: text;
}

#nav h2 {
    float: right;
    margin-right: 16px;
    margin-top: -20px;
    text-align: right;
    font-size: 1.9rem;
    display: block;
    width: 93%;
    font-weight: 100;
    background-image: linear-gradient(rgb(230, 230, 230), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

#headerline{
    float: right;
    border-top: 1px solid rgb(254, 254, 254);
    width: 80%;
    margin-top: -20px;
    margin-right: 10px;
}


#nav p{
    width: 83.5%;
    margin: 0px 2px 30px 2px;
    float:right;
    text-align: right;
    display:block;
}


#nav-options {
    position: relative;
    right: 0;
    z-index: 1;
    display: block;
    float: right;
    margin: 0px 0px 0px 0px;

}

#nav-options-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

#nav-options h3 {
    cursor: pointer;
    background-color: rgb(248, 124, 88);
    padding: 10px;
    text-align: center;
    margin: 4px 5px;
    color: black;
    font-weight: 450;
    border-radius: 3.54px;
    width: 110px;
    user-select: none;
}

#nav-options h3:hover {
    transition: all 0.5s;
    transform: scale(1.03);
    box-shadow: 2px 2px 4px rgb(255, 248, 230);
}




#boid-cursor-note {
    position: absolute;
    top: 10;
    right: 10;
    z-index: 9999;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 2px 2px 4px black;
    height: fit-content;
    padding: 6px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    display: none;
}

#boid-cursor-note-mobile {
    position: absolute;
    top: 10;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    width: 60%;
    z-index: 9999;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 2px 2px 4px black;
    height: fit-content;
    padding: 6px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    display: none;
}

#scroll-down {
    display: none;
    position: absolute;
    bottom: 10%;
    transform: translateY(50%);
    left: 50%;  
    z-index: 9999;
    animation: big-small-big 1.6s linear infinite;
}

.show {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#defaultCanvas0 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9998;
    border-left: 1px solid rgb(254, 254, 254);
    display: none;
}

#mainIndexImage {
    width: 100%;
    height: auto;
}

#mainIndexImageText {
    color: white;
    position: absolute;
    bottom: calc(390px - 48vw);
    left: 0;
    padding: 10px;
    font-weight: 900;
    font-size: calc(2.475rem + 2vw);
    text-shadow: 2px 2px 4px black;
}

#mainIndexImageText h1 {
    cursor: pointer;
}

#mainIndexImageText h1:hover {
    transition: all 0.5s;
    transform: scale(1.02);
    color: red;
}

#mainIndexImageText h1:not(:hover) {
    transition: all 0.5s;
    transform: scale(1);
    color: white;
}

#section1 {
    color: black;
}


#indexAnnouncements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid: auto;
    margin: 0px 0px 10px 0px;
}

#indexBlogs {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0px 0px 10px 0px;
}

#empty-space {
    display: none;
}



@keyframes big-small-big {
    0% {
        transform: scale(1) translateX(-50%);
    }
    25% {
        transform: scale(1.09) translateX(-50%);
    }
    50% {
        transform: scale(1.14) translateX(-50%);
    }
    75% {
        transform: scale(1.09) translateX(-50%);
    }
    100% {
        transform: scale(1) translateX(-50%);
    }
}




@media screen and (max-width: 1200px) {
    #nav h1 {
        font-size: 46px;
        width: 87%;
        margin-bottom: 14px;
    }
    #nav h2 {
        font-size: 1.5rem;
        width: 87%;
    }
    #nav-options-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1080px) {
    body {
        overflow-y: scroll;
        min-height: 100vh;
        position: relative;
    }

    #nav p {
        display: none;
    }

    #nav-options {
        display: block;
        width: 91%;
        height: 200px;
        margin-top: 20px;
    }

    #nav-options-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit;
        
    }

    #nav-options h3 {
        /*margin-right: 20px;*/
        margin-bottom: 4px;
        width: 67%;
        height: 50px;
        font-size: 30px;
        padding: 4px 8px;
    }


    #nav-option-3 {
        grid-column: 2;
    }
}


/* media query for max-width: 700px or mobile devices */
@media screen and (max-width: 700px) {
    html, body {
        overflow-y: visible;
        min-height: 100vh;
        position: relative;
    }

    #nav h1 {
        font-size: 90px;
    }
    
    #nav h2 {
        font-size: 50px;
    }

    #nav {
        overflow: visible;
        height: inherit;
    }

    #nav-options {
        grid-template-columns: 1fr;
        overflow: visible;
        display: block;
        width: 100%;
    }

    #boid-cursor-note {
        display: none !important;
    }

    #boid-cursor-note-mobile {
        display: none;
    }

    #scroll-down {
        display: none;
    }

    #defaultCanvas0 {
        border-left: none;
        border-bottom: 1px solid rgb(254, 254, 254);
    }

    #nav-options {
        float: left;
    }
}